body, html {
	height: 100%;
	margin: 0px;
	background-color: rgb(0 0 0);
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.background {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height:100%;

}

.topbar {
	height: 10%;
	width: 100%;
	background-color: rgb(0	0 0);
	background-position: center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align: center;
	font-size: 2.5vmax;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgb(212 154 106);
	font-family: 'Dosis', sans-serif;
}

.middle {
	padding: 0% 5%;
	background-image: url("IMAGES/girl.JPG");
	height: 70%;
	background-position: top;
	background-repeat: no-repeat;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;

	
}

.left, .right {
	padding-top:2%;
	padding-bottom:2%;
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.left {
	align-items: flex-start;
}
.right {
	align-items: flex-end;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {

	margin-top:30px;
	width: 140px;
	height: 140px;
	border: 2px solid rgb(102 154 153);
	border-radius: 8px;
	background-color: rgb(0 0 0);
	background-position: center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.circle1 {
	background-image: url("IMAGES/bridge.JPG");
}

.circle2 {
	background-image: url("IMAGES/coast.JPG");
}

.circle3 {
	background-image: url("IMAGES/ship.JPG");
}

.circle4 {
	background-image: url("IMAGES/surfers.JPG");
}

.circle5 {
	background-image: url("IMAGES/birds.JPG");
}

.circle6 {
	background-image: url("IMAGES/board.JPG");
}

.bottombar {
	height: 20%;
	width: 100%;
	background-color: rgb(0	0 0);
	background-position: center;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	
	color: rgb(102 154 153);
	font-family: 'Dosis', sans-serif;
}

.btn, .btn-primary {
/*	text-transform: uppercase;*/
/*	font-weight: bold;
*/	font-size: 2.2vmax;
/*	font-style: italic;
*/	font-family: 'Dosis', sans-serif;
	background-color: rgb(212 154 106);
	color: rgb(255 255 255);
	border: 5px solid rgb(212 154 106);
	border-radius: 2rem;
	height:40%;
	margin:0px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align: center;
}

.btn-primary:hover {
	background-color: rgb(189 127 76);
	border: 5px solid rgb(13 77 77);
	color: rgb(0 0 0);
	margin: 0px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(76, 127, 126);
    border-color: rgb(102 154 153);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0rem rgb(0 0 0);
}